<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />

<style>
        #authBtn{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-right:-4px;
        }
        #joinBtn{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;    
            margin-left:-3px;
        }
        #btn_group button{
            border: 1px solid skyblue;
            background-color: rgba(0,0,0,0);
            color: skyblue;
            padding: 5px;
        }
    </style>
<title>계좌 인증 페이지</title> 

</head>
<body>
        <input type="hidden" id="kakaoId" >
        <input type="hidden" id="accessToken" >
        <input type="hidden" id="useseqnum" >        
       
        <img src="https://i.imgur.com/8S3ulMe.jpg" style="max-width:100%; height:auto;">
        
        <div id="btn_group" text-align="center">
        <button id="authBtn">계좌인증</button>
        <button id="joinBtn">등록완료</button>
        </div>
        
<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>


<script>
    function CloseWindow(){
                    self.opener = self;
                    window.close();
                }
    

    $(document).ready(function() {
        var urlParams = new URLSearchParams(window.location.search);
        var kakaoId = urlParams.get('id');
        console.log(kakaoId);
        $('#kakaoId').val(kak+++aoId);
    });
    
    
    $('#authBtn').click(function(){
    
    var client_id = "l7xx533bb156ace64c6eb6e19b2db4583e76";
    var redirect_uri = "http://13.124.84.213/api/callback"; 
    var scope = "login inquiry transfer";
    var response_type = "JSON";
    var qs =
    "?response_type=code&"
    + "client_id="+client_id+"&"
    + "redirect_uri=" + redirect_uri + "&"
    + "scope="+scope+"&"
    + "auth_type=0&"
    + "invoke_type=ajax"

    console.log(qs);

    $.ajax({        
        url:'https://testapi.open-platform.or.kr/oauth/2.0/authorize2' + qs,
        type : 'GET',
            success:function(data){
                window.name ="parents";
                console.log(data);
                console.log(data.location);
                var tmpwindow = window.open("about:blank");
                tmpwindow.location = data.location;//추가
                




            }
        })

    })

    $("#joinBtn").click(function(){
        $.ajax({
            url:'http://13.124.84.213/join',
            type : 'POST',
            data : {
                
                accessToken : $("#accessToken").val(),
                useseqnum : $("#useseqnum").val(),
                kakaoId : $("#kakaoId").val(),
            },
            success:function(data){
                
                
            }
        })

        CloseWindow();
    });

</script>
</body>
</html>