<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
</head>
<body>
        <span>닉네임을 입력해주세요!</span>
        <input type="name" id="nameInput" placeholder="닉네임">
        <input type="hidden" id="kakaoId" >
        <input type="hidden" id="accessToken" >
        <input type="hidden" id="useseqnum" >        
        <button type="button" id="authBtn">계좌 인증</button>
        <p id="authCheck" style="display:none;">계좌 인증 완료 되었습니다!!</p>
        <a href="#" id="joinBtn">계좌 등록</a>

<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>

<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/plugins.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>

<script>
    function CloseWindow(){
                    self.opener = self;
                    window.close();
                }

    $(document).ready(function() {
        var urlParams = new URLSearchParams(window.location.search);
        var kakaoId = urlParams.get('id');
        console.log(kakaoId);
        $('#kakaoId').val(kakaoId);
    });
    
    
    $('#authBtn').click(function(){
    
    var client_id = "l7xx533bb156ace64c6eb6e19b2db4583e76";
    var redirect_uri = "http://13.124.84.213/api/callback"; 
    var scope = "login inquiry transfer";
    var response_type = "JSON";
    var qs =
    "?response_type=code&"
    + "client_id="+client_id+"&"
    + "redirect_uri=" + redirect_uri + "&"
    + "scope="+scope+"&"
    + "auth_type=0&"
    + "invoke_type=ajax"

    console.log(qs);

    $.ajax({        
        url:'https://testapi.open-platform.or.kr/oauth/2.0/authorize2' + qs,
        type : 'GET',
            success:function(data){
                window.name ="parents";
                console.log(data);
                console.log(data.location);
                var tmpwindow = window.open("about:blank");
                tmpwindow.location = data.location;//추가
                




            }
        })

    })

    $("#joinBtn").click(function(){
        $.ajax({
            url:'http://13.124.84.213/join',
            type : 'POST',
            data : {
                name : $("#nameInput").val(),
                accessToken : $("#accessToken").val(),
                useseqnum : $("#useseqnum").val(),
                kakaoId : $("kakaoId").val()
            },
            success:function(data){
                console.log(data);
            }
        })
    });
     

</script>
</body>
</html>